@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* Global Styles */
:root {
  --text-color: #124a63;
  --text-color-secondary: #b3c5cd;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: rgb(241, 231, 248);

  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

  --logo-img: invert(0);
}

[data-theme='dark'] {
  --text-color: #f0f0f0;
  --text-color-secondary: #b3c5cd;

  --background-color: #8a8a8d;
  --background-color-dark: #3c393f;
  --background-color-light: #5c4e61;

  --logo-img: invert(1);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-text {
  outline: none;
  padding: 5px;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}

.btn-text:hover {
  outline: none;
  padding: 5px;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
  color: #000 !important;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

#bodyContainer {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.club-rounded {
  border-radius: 32px !important;
}

.cc-homePage-topLevelContainer {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.cc-homePage-topHalf {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 20px;
}

.cc-homePage-leftMainCol {
  display: flex;
  flex: 2;
  flex-direction: row;
  width: 70%;
}

.cc-homePage-rightMainCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 10px;
  width: 30%;
}

.cc-BOTM {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cc-BOTM-img-container {
  display: flex;
  flex: 2;
  margin-top: 10px;
  padding-top: 10px;
  width: 50%;
}

.cc-BOTM-mainBookInfo-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 50%;
}

.cc-medTitles-centered {
  text-align: center;
  font-style: normal;
  font-size: 2vw;
<<<<<<< HEAD
  font-weight: lighter;
  line-height: 2vw;
  color: #000000;
=======
  color: var(--text-color-secondary);
>>>>>>> 5c55553f4e6b99fe6171ccb94ddd6f4c87f9668f
  padding: 0px;
}

.cc-medTitles-left {
  text-align: left;
  font-style: normal;
<<<<<<< HEAD
  font-size: 2vw;
  color: #000000;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
=======
  text-align: center;
  color: var(--text-color-secondary);
>>>>>>> 5c55553f4e6b99fe6171ccb94ddd6f4c87f9668f
}

.cc-medTitles-italic {
  text-align: center;
  font-style: italic;
  color: var(--text-color-secondary);
  padding: 0px;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5vw;
}

.cc-BOTM-mainBookInfo-priceCardsContainer {
  height: 70px;
  width: auto;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 1px;
  border-color: black;
  border-radius: 6px;
<<<<<<< HEAD
  border: 1px;
  vertical-align: middle;
=======
  margin: 5px;
  padding: 5px;
}
.cc-BOTM-mainBookInfo-description {
  font-size: 23px;
  color: var(--text-color-secondary);
  padding: 5px;
  margin: 10px;
  text-align: justify;
}

.cc-TrendingCaro {
  display: flex;
  flex: 2;
>>>>>>> 5c55553f4e6b99fe6171ccb94ddd6f4c87f9668f
  margin: 10px;
  padding: 10px;
  font-style: normal;
  font-size: 2vw;
  color: #000000;
}

.cc-align-bottom {
  align-content:flex-end;
}

.cc-homepage-bottomHalf {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cc-Caro {
  /* display: flex; */
  padding: 20px;
  width: 100%;
  justify-items: center;
}

<<<<<<< HEAD
.cc-bigTitles {
  text-align: center;
  font-style: bold;
  font-size: 2.5vw;
  line-height: 2vw;
  color: #000000;
  padding-top: 0px;
  padding-bottom:20px;
=======
.cc-homePage-rightMainCol-titles {
  text-align: left;
  font-style: normal;
  font-size: 2vw;
  color: var(--text-color-secondary);
  padding: 0px;
>>>>>>> 5c55553f4e6b99fe6171ccb94ddd6f4c87f9668f
}

.cc-homePage-smallText {
  font-size: 1vw;
  color: var(--text-color-secondary);
}

.navList {
  text-align: right;
  vertical-align: middle;
<<<<<<< HEAD
}
=======
}

.carouselTitles > p {
  font-size: 23px;
}
>>>>>>> 5c55553f4e6b99fe6171ccb94ddd6f4c87f9668f
