@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #666;
}

body {
  background: linear-gradient(
    131deg,
    rgba(205, 221, 244, 1) 0%,
    rgba(205, 186, 250, 1) 100%
  );
  background: linear-gradient(to left, #b067ec, #9e5beb);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bodyContainer {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.cc-homePage-topLevelContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.cc-homePage-leftMainCol {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.cc-homePage-rightMainCol {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  width: 45%;
}

.cc-BOTM {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cc-BOTM-mainBookInfo-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}
.cc-BOTM-mainBookInfo-title-container {
  display: flex;
  flex-direction: column;
  vertical-align: top;
}
.cc-BOTM-mainBookInfo-header {
  text-align: center;
  font-style: normal;
  font-size: 2vw;
  color: #000000;
  padding: 0px;
}

.cc-BOTM-mainBookInfo-bookTitle {
  text-align: center;
  font-style: bold;
  font-size: 2.5vw;
  padding: 0px;
  font-style: normal;
  text-align: center;
  color: #000000;
}
.cc-BOTM-mainBookInfo-author {
  text-align: center;
  font-style: italic;
  color: #000000;
  padding: 0px;
  font-style: italic;
  font-weight: 300;
  font-size: 2vw;
}
.cc-BOTM-mainBookInfo-priceCardsContainer {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: auto;
  flex-wrap: nowrap;
  padding: 10px;
}
.cc-BOTM-mainBookInfo-priceCards {
  height: 80px;
  width: 100px;
  text-align: center;
  background-color: white;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
}
.cc-BOTM-mainBookInfo-description {
  font-size: 1vw;
  color: #000000;
  padding: 5px;
  margin: 10px;
}

.cc-TrendingCaro {
  display: flex;
  /* flex: 2; */
  margin: 10px;
  width: 100%;
}

.cc-GenreCaro {
  display: flex;
  /* flex: 2; */
  margin: 10px;
  width: 100%;
}
.cc-SiteDesc {
  display: flex;
  flex: 1;
}

/* .cc-LogInSignUp {
  display: flex;
  flex: 1;
} */

.cc-MonthlySubscr {
  display: flex;
  flex: 1;
}

.cc-homePage-rightMainCol-titles {
  text-align: left;
  font-style: normal;
  font-size: 2vw;
  color: #000000;
  padding: 0px;
}

.cc-homePage-rightMainCol-text {
  font-size: 1vw;
  color: #000000;
}

.navList {
  text-align: center;
  vertical-align: middle;
}
