@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #666;
}

body {
  background: linear-gradient(131deg, rgba(205, 221, 244, 1) 0%, rgba(205, 186, 250, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bodyContainer {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  text-align: center;
}
