@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #666;
}

body {
  background: linear-gradient(
    131deg,
    rgba(205, 221, 244, 1) 0%,
    rgba(205, 186, 250, 1) 100%
  );
  background: linear-gradient(to left, #b067ec, #9e5beb);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#bodyContainer {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.cc-homePage-topLevelContainer {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.cc-homePage-topHalf {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 20px;
}

.cc-homePage-leftMainCol {
  display: flex;
  flex: 2;
  flex-direction: row;
  width: 60%;
}

.cc-homePage-rightMainCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 10px;
  width: 40%;
}

.cc-BOTM {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cc-BOTM-img-container {
  display: flex;
  flex: 2;
  margin-top: 10px;
  padding-top: 10px;
}

.cc-BOTM-mainBookInfo-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.cc-medTitles-centered {
  text-align: center;
  font-style: normal;
  font-size: 2vw;
  font-weight: lighter;
  line-height: 2vw;
  color: #000000;
  padding: 0px;
}

.cc-medTitles-left {
  text-align: left;
  font-style: normal;
  font-size: 2vw;
  color: #000000;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.cc-medTitles-italic {
  text-align: center;
  font-style: italic;
  color: #000000;
  padding: 0px;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5vw;
}

.cc-BOTM-mainBookInfo-priceCardsContainer {
  height: 70px;
  width: auto;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-color: black;
  border-radius: 6px;
  border: 1px;
  margin: 10px;
  padding: 10px;
  font-style: normal;
  font-size: 2vw;
  color: #000000;
}

.cc-align-bottom {
  align-content:flex-end;
}

.cc-homepage-bottomHalf {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cc-Caro {
  /* display: flex; */
  padding: 20px;
  width: 100%;
  justify-items: center;
}

.cc-bigTitles {
  text-align: center;
  font-style: bold;
  font-size: 2.5vw;
  line-height: 2vw;
  color: #000000;
  padding-top: 0px;
  padding-bottom:20px;
}

.cc-homePage-smallText {
  font-size: 1vw;
  color: #000000;
}

.navList {
  text-align: center;
  vertical-align: middle;
}
