.navContainer {
  background-color: var(--background-color-light);
  font-size: 23px;
}

.navContainer > nav {
  max-width: 1100px;
  color: var(--text-color-secondary);
}

.navText {
  color: var(--text-color-secondary);
  padding-right: 7px;
}

.themeSwitcherBtn {
  color: var(--text-color-secondary);
  padding-right: 23px;
  font-size: 32px;
}

.logo {
  filter: var(--logo-img);
}
