.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.col {
  position: relative;
  width: 48%;
}

.title {
  padding: 15px;
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.title span {
  color: #aa73aa;
  font-weight: 700;
  font-size: 1.5em;
}

.imgBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
