#profileMain {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#libraryBody {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow: scroll;
  grid-gap: 5px;
  margin: 5px 5px 5px 0;
  max-height: 341px;
}
.bookBody {
  background-color: rgba(255, 255, 255, 0.8);
  height: 110px;
  width: 85px;
  border-radius: 5px;
  overflow: hidden;
}

.bookImage {
  height: 100%;
  width: 100%;
}


/* --------------------------------------------- */

h1 {
  font-size: 18px;
}

.recommendedBooksContainer {

}

.recommendedCarousel {
  width: 70%;
}

.friend-recommendations {
  width: 100%;
  align-items:right;
}

.recommendation-cards {
  width: 80%;
}

.recommendedBooksContainer {
  display: grid;
  max-width: 80%;
  align-self: left;
  /* grid-template-columns: 25%; */
  /* background-color: #2196F3; */
  max-height: 228px;
  padding: 10px;
  overflow: hidden;
  align-content: center;
  grid-gap: 7px;
  margin: auto;
}

.recommendedBookBody {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* max-height: 110px; */
  max-width: 100;
  margin: 20px;
  /* font-size: 30px; */
  text-align: center;
}

.recommendedBookImage {
  height: 110px;
  width: 85px;
}

/* ----USER BOOK CLUBS STYLES ---- */

/* .userBookClubsBody {
  display: grid;
  background-color: blue;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  margin: 5px 5px 5px 5px;
  max-height: 200px;
} */

.userBookClubsBody{
  display: grid;
  background-color: blue;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  max-height: 200px;
}

.userBookClubItem{
  background-color: rgba(255, 255, 255, 0.8);
  height: 100px;
  width: 200px;
  border-radius: 5px;
  /* overflow: hidden; */
}