#profileMain {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#libraryBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow: scroll;
  grid-gap: 5px;
  margin: 5px 5px 5px 0;
  max-height: 341px;
}
.bookBody {
  background-color: rgba(255, 255, 255, 0.8);
  height: 110px;
  width: 85px;
  border-radius: 5px;
  overflow: hidden;
}

.bookImage {
  height: 100%;
  width: 100%;
}

#myFriends {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90px;
  overflow-x: scroll;
  grid-gap: 5px;
  margin: 5px 5px 5px 0;
  max-width: 375px;
  max-height: 120px;
}

#userHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#friendsLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* --------------------------------------------- */

h1 {
  font-size: 18px;
}

.recommendedBooksContainer {
}

.recommendedCarousel {
  width: 70%;
}

.friend-recommendations {
  width: 100%;
  align-items: right;
}

.recommendation-cards {
  width: 80%;
}

.recommendedBooksContainer {
  display: grid;
  max-width: 80%;
  align-self: left;
  /* grid-template-columns: 25%; */
  /* background-color: #2196F3; */
  max-height: 228px;
  padding: 10px;
  overflow: hidden;
  align-content: center;
  grid-gap: 7px;
  margin: auto;
}

.recommendedBookBody {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* max-height: 110px; */
  max-width: 100;
  margin: 20px;
  /* font-size: 30px; */
  text-align: center;
}

.recommendedBookImage {
  height: 110px;
  width: 85px;
}
